body {
  background-color: rgb(37, 37, 37);
}

.island {
  width: 95%;
  height: 45vh;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 15px;
  font-size: 16px;
  background-color: #424141;
  color: #f1f1f1;
}

#code {
  width: 95%;
  height: 45vh;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #b8b8b8;
  border-radius: 15px;
  font-size: 16px;
  background-color: #424141;
  color: #f1f1f1;
  text-decoration: none;
}

.output {
  font-family: monospace;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

button:active {
  background-color: #3b8a3e;
}

#lang {
  padding: 5px 5px;
  border-radius: 5px;
}
