  body {
    background: #008081;
    overflow: hidden;
  }

  #icoimg {
    margin-left: 5px;
  }

  #win {
    position: absolute;
    left: 25%;
    margin: -25px 0 0 -25px;
    top: 25%;
  }

  .hide-win {
    visibility: hidden;
  }

  #winh {
    cursor: grab;
  }

  #footer {
    bottom: 0px;
    height: 30px;
    left: 0px;
    position: fixed;
    width: 100%;
  }